<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <img src="assets/images/dices_landing.png" alt="Description">
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2">
          Poker Joker DAO
        </h1>
        <h2 class="subtitle is-4">
          Poker Joker is a p2p gaming DAO that provide ownership to player and utilities for gaming NFTs.
        </h2>
        <button class="button is-primary is-rounded" (click)="connectToWallet()">Connect to Other Gamers</button>
      </div>
    </div>
  </div>
</div>
