<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-4">
        <p class="title is-6">{{(account$ | async)?.address}}</p>
      </div>
      <div class="column is-4">
        <p class="title is-6">Balance: {{(account$ | async)?.balance}}uscrt</p>
      </div>
      <div class="column is-4">
        <button class="button is-primary is-rounded is-small" (click)="createNewGame()">Create game</button>
      </div>
    </div>
    <div class="columns is-gapless">
      <div class="column">
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-5">
        <table class="table">
          <thead>
            <tr>
              <th>Status</th>
              <th>Id</th>
              <th>Host address</th>
              <th>Bet</th>
              <th>
                <button class="button is-primary is-rounded is-small" (click)="refresh()">Refresh</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of games$ | async;">
              <th class="upper">{{game.status}}</th>
              <td>{{game.game_id}}</td>
              <td>{{game.host_player_address}}</td>
              <td>{{game.base_bet.amount}}{{game.base_bet.denom}}</td>
              <td>
                <button class="button is-primary is -light is-small"
                  (click)="join(game.game_id, game.status, +game.base_bet.amount)">Join</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column is-6 is-offset-3">
        <p class="title is-4">My dices</p>
        <button class="button is-primary is-rounded is-small" *ngIf="((nfts$ | async)?.length || 0) === 0"
          (click)="joinDao()">Join Dao</button>
        <div class="scrollable" *ngIf="((nfts$ | async)?.length || 0) > 0">
          <ng-container *ngFor="let nft of nfts$ | async; let i = index">
            <div class="columns">
              <div class="column  is-offset-3 is-6 card">
                <p class="card-header-title" style="text-align: center; display: block;">
                  <label class="radio">
                    <input [formControl]="chosenNft" value="{{nft.id}}" type="radio" name="nft">
                    Choose me
                  </label>
                </p>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content" style="align-items: center; display: flex; flex-direction: column; justify-content: space-between;">
                      <div class="dice-svg" [ngStyle]="{
                        'background-color': '#' + nft.nft_info.extension.background_color
                      }"></div>
                      <span class="tag is-black">
                        Id: {{nft.id}}
                      </span>
                      <span class="tag is-black">
                        Name: {{nft.nft_info.extension.name}}
                      </span>
                      <span class="tag is-black">
                        Exp: {{nft.nft_info.extension.xp}}xp
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="columns is-gapless">
              <div class="column">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>