<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-4">
        <p class="title is-6">{{(account$ | async)?.address}}</p>
      </div>
      <div class="column is-4">
        <p class="title is-6">Balance: {{(account$ | async)?.balance}}</p>
      </div>
      <div class="column is-4">
        <button class="button is-primary is-rounded is-small" (click)="createNewGame()">Create game</button>
      </div>
    </div>
    <div class="columns is-gapless">
      <div class="column">
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-5">
        <table class="table">
          <thead>
            <tr>
              <th>Status</th>
              <th>Id</th>
              <th>Host address</th>
              <th>Bet</th>
              <th>
                <button class="button is-primary is-rounded is-small" (click)="refresh()">refresh</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of games$ | async;">
              <th class="upper">{{game.status}}</th>
              <td>{{game.game_id}}</td>
              <td>{{game.host_player_address}}</td>
              <td>{{game.base_bet.amount}}{{game.base_bet.denom}}</td>
              <td>
                <button class="button is-primary is -light is-small"
                  (click)="join(game.game_id, game.status, +game.base_bet.amount)">Join</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column is-6 is-offset-3 scrollable">
        <p class="title is-4">My dices</p>
        <ng-container *ngFor="let nft of nfts$ | async; let i = index">
          <div class="columns">
            <div class="column  is-offset-3 is-6 card">
              <p class="card-header-title">
                <label class="radio">
                  <input [formControl]="chosenNft" value="{{nft.id}}" type="radio" name="nft">
                  Choose me
                </label>
              </p>
              <div class="card-content">
                <div class="media">
                  <div class="media-content" style="align-items: start; display: flex; flex-direction: column;">
                    <span class="tag is-black" style="width: 80px;">
                      Name:
                    </span>
                    <p class="subtitle is-6">
                      {{nft.nft_info.extension.name}}
                    </p>
                    <span class="tag is-black" style="width: 80px;">
                      Description:
                    </span>
                    <p class="subtitle is-6">
                      {{nft.nft_info.extension.description}}
                    </p>
                    <span class="tag is-black" style="width: 80px;">
                      Exp:
                    </span>
                    <p class="subtitle is-6">
                      {{nft.nft_info.extension.xp}}xp
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns is-gapless">
            <div class="column">
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>